@model WebVRMS.Models.Rental

<html>
<head>
    <title>Detail Rental</title>
</head>
<body>
    <h1>Detail Rental</h1>
    <p>Rental Id: @Model.RentalId</p>
    <p>Rental Date : @Model.RentalDate</p>
    <p>Return Date : @Model.ReturnDate</p>
    <p>Status : @Model.Status</p>
    <p>User ID : @Model.User.UserId</p>
    <p>Vehicle ID : @Model.Vehicle.VehicleId</p>
</body>
</html>

