@model WebVRMS.Models.Vehicle

<html>
<head>
    <title>Detail Vehicle</title>
</head>
<body>
    <h1>Detail Vehicle</h1>
    <p>Category Id: @Model.VehicleId</p>
    <p>Category Id: @Model.Make</p>
    <p>Category Id: @Model.Model</p>
    <p>Category Id: @Model.Year</p>
    <p>Category Id: @Model.RentalPrice</p>
    <p>Category Id: @Model.AvailabilityStatus</p>
</body>
</html>